
.button {
    background-color: lightgray;
}

.buttons {
    display: flex;
}

.text {
    font-size: medium;
}

.login {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.form-container1 {
    display: flex;
    background-color: grey;
    padding: 30px;
    border-radius: 18px;
    width: 280px;
    height: 300px;
    margin: 100px;
}