.profile-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    position: center;
    border: 1px solid black;
    border-radius: 15px;
    width: 700px;
    height: auto;
    padding: 30px;
}



.profile-data {
    text-align: center;
    padding: 15px;
}