.blondes-container {
    background-color: #EFB818;
    height: 80px;
}

.blondes-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 20px;
}